.notes-container {
    border-radius: 0px 0px 50px 50px;
    height: 516px;
    overflow-y: auto;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    padding: 10px;
    /* overflow-x: hidden; */
  }
  
  .notes-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Opera */
  }
  
  .notes-header {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 0;
  }
  
  .back-button {
    cursor: pointer;
    font-size: 20px;
  }
  
  .header-title {
    font-weight: bold;
    font-size: 25px;
  }
  
  .search-bar {
    padding: 10px;
    background-color: #fff;
    position: relative;
    margin-left: 0; /* To position the search icon inside the input */
  }
  
  .search-input-container {
    position: relative;
    width: 100%;
  }
  
  .search-bar input {
    width: 80%;
    padding: 5px 30px 5px 30px; /* Leave space for the icon */
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f0f0f0;
    /* text-align: left; */
  }
  
  .search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .notes-list {
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 250px); /* Adjust to fit within viewport height */
    margin-bottom: 0;
    background-color: #f9f9f9; /* Background for notes list */
  }
  
  .note-item {
    display: block;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  }
  
  .note-item:hover {
    background-color: #e9e9e9; /* Change background color on hover */
  }
  
  .note-title {
    font-weight: bold;
  }
  
  .note-details,
  .note-folder {
    font-size: 14px;
    color: #555;
  }
  
  .notes-footer {
    padding: 8px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  